<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<main role="main" layout:fragment="container" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-4 pb-3 mb-3 border-bottom">
                <h1 class="h2">Lista użytkowników</h1>

            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Numer użytkownika</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Adres</th>
                        <th>NIP</th>
                        <th>Pesel</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="customer : ${customers}">
                        <th scope="row" th:text="${customer.id}"></th>
                        <td th:text="${customer.customer_number}">Otto</td>
                        <td th:text="${customer.first_name}">Otto</td>
                        <td th:text="${customer.last_name}">Otto</td>
                        <td th:text="${customer.address}">Otto</td>
                        <td th:text="${customer.nNIP}">Otto</td>
                        <td th:text="${customer.pesel}">Otto</td>
                        <td>

                            <form th:action="@{'/customer/'+${customer.id}+'/add'}" th:object="${customers}" method="get">
                                <button class="btn btn-secondary" type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>
</body>
</html>